body {
    background-color: #2A2A2A;
    aspect-ratio: 16 / 9;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.screen{
    display: grid;
    place-items: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 16 / 9;
    height:100%;
    max-width: 100%;
    max-height: 100vh;
    background-image: url("../image/board.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-color: transparent;
    transition: width 0.3s, height 0.3s;
}

.step{
    width: 8%;
    height: 10%;
    left: 15%;
    top: 6%;
    text-align: center;
    background-color: transparent;
    font-size: 4vw;
    color: #D0D0D0;
    font-family: sans-serif, "Comic Sans MS";
    position: absolute;
    z-index: 2;
}
.point{
    width: 8%;
    height: 10%;
    left: 76.5%;
    top: 82%;
    text-align: center;
    background-color: transparent;
    font-size: 4vw;
    color: #D0D0D0;
    font-family: sans-serif, "Comic Sans MS";
    position: absolute;
    z-index: 2;
}

.countWarper{
    width: 34%;
    height: 7%;
    position: absolute;
    background-image: url("../image/timeAndRound.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 33%;
    top: 0%;
    display: flex;
    flex-direction: columns;
}
.timer{
    width: 30%;
    height: 90%;
    margin-left: 20%;
    margin-top: 2.5%;
    text-align: center;
    background-color: transparent;
    font-size: 2vw;
    color: #D0D0D0;
    font-family: sans-serif, "Comic Sans MS";
}
.round{
    width: 25%;
    height: 90%;
    margin-top: 2.5%;
    text-align: center;
    background-color: transparent;
    font-size: 2vw;
    color: #D0D0D0;
    font-family: sans-serif, "Comic Sans MS";
}

.board{
    width: 53.57%;
    height: 79.36%;
    display: grid;
    grid-template-columns: repeat(10, 10.17%);
    position: absolute;
}

.board{
    transform: translate(-4%, -2.5%);
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 61px);
}

.hexagon {
    width: 64px;
    height: 73.9px;
    background-image: url("../image/blue_hex.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 
        50% 100%, 0% 75%, 0% 25%
    );
    display: inline-block;
    margin-bottom: -25px;
}
.hexagon:hover{
    background-image: url("../image/blue_hex_with_prompt.png");
}
.hexagon.surround{
    background-image: url("../image/lightblue_hex.png");
}

.spawn{
    width: 64px;
    height: 73.9px;
    background-image: url("../image/red_hex.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 
        50% 100%, 0% 75%, 0% 25%
    );
    display: inline-block;
    margin-bottom: -25px;
}
.spawn:hover{
    background-image: url("../image/red_hex_with_prompt.png");
}

/* act buttons */
.move{
    width: 9%;
    height: 17%;
    margin-left: 85%;
    margin-bottom: 15%;
    background-image: url("../image/move.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 
        50% 100%, 0% 75%, 0% 25%
    );
    position: absolute;
    z-index: 2;
}
.move:hover{
    background-image: url("../image/move_hover.png");
}
.attack{
    width: 9%;
    height: 17%;
    margin-left: 75.5%;
    background-image: url("../image/attack.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 
        50% 100%, 0% 75%, 0% 25%
    );
    position: absolute;
    z-index: 2;
}
.attack:hover{
    background-image: url("../image/attack_hover.png");
}
.skill{
    width: 9%;
    height: 17%;
    margin-left: 85%;
    margin-top: 15%;
    background-image: url("../image/skill.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 
        50% 100%, 0% 75%, 0% 25%
    );
    position: absolute;
    z-index: 2;
}
.skill:hover{
    background-image: url("../image/skill_hover.png");
}

.skip{
    width: 11%;
    height: 10%;
    left: 5%;
    top: 81.5%;
    background-image: url("../image/skip.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
}
.skip:hover{
    background-image: url("../image/skip_hover.png");
}

/* atk characters */
.hexagon.has-piece[piece="horus"] {
    background-image: url("../image/horus.png");
}
.hexagon.has-piece[piece="horus"].selected {
    background-image: url("../image/horus_hover.png");
}

.hexagon.has-piece[piece="volatile"] {
    background-image: url("../image/volatile.png");
}
.hexagon.has-piece[piece="volatile"].selected {
    background-image: url("../image/volatile_hover.png");
}

.hexagon.has-piece[piece="dazzle"] {
    background-image: url("../image/dazzle.png");
}
.hexagon.has-piece[piece="dazzle"].selected {
    background-image: url("../image/dazzle_hover.png");
}

.hexagon.has-piece[piece="mist"] {
    background-image: url("../image/mist.png");
}
.hexagon.has-piece[piece="mist"].selected {
    background-image: url("../image/mist_hover.png");
}

.hexagon.has-piece[piece="snipe"] {
    background-image: url("../image/snipe.png");
}
.hexagon.has-piece[piece="snipe"].selected {
    background-image: url("../image/snipe_hover.png");
}

/* def characters */
.hexagon.has-piece[piece="citadel"] {
    background-image: url("../image/citadel.png");
}
.hexagon.has-piece[piece="citadel"].selected {
    background-image: url("../image/citadel_hover.png");
}

/* atk tool */

/* def tool */