body {
    background-color: black;
    overflow: hidden;
}

.screen{
    display: grid;
    place-items: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1120px;
    height: 630px;
    background-image: url("../image/board.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-color: transparent;
    transition: width 0.3s, height 0.3s;
}

.board{
    transform: translate(-4%, -2.5%);
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 61px);
}

.hexagon {
    width: 64px;
    height: 73.9px;
    background-image: url("../image/blue_hex.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 
        50% 100%, 0% 75%, 0% 25%
    );
    display: inline-block;
    margin-bottom: -25px;
}
.hexagon:hover{
    background-image: url("../image/blue_hex_with_prompt.png");
}
.hexagon.surround{
    background-image: url("../image/lightblue_hex.png");
}

.spawn{
    width: 64px;
    height: 73.9px;
    background-image: url("../image/red_hex.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 
        50% 100%, 0% 75%, 0% 25%
    );
    display: inline-block;
    margin-bottom: -25px;
}
.spawn:hover{
    background-image: url("../image/red_hex_with_prompt.png");
}
.spawn.surround{
    background-image: url("../image/pink_hex.png");
}

/* atk characters */
.hexagon.has-piece[piece="horus"] {
    background-image: url("../image/horus.png");
}
.hexagon.has-piece[piece="horus"].selected {
    background-image: url("../image/horus_hover.png");
}

.hexagon.has-piece[piece="volatile"] {
    background-image: url("../image/volatile.png");
}
.hexagon.has-piece[piece="volatile"].selected {
    background-image: url("../image/volatile_hover.png");
}

.hexagon.has-piece[piece="dazzle"] {
    background-image: url("../image/dazzle.png");
}
.hexagon.has-piece[piece="dazzle"].selected {
    background-image: url("../image/dazzle_hover.png");
}

.hexagon.has-piece[piece="mist"] {
    background-image: url("../image/mist.png");
}
.hexagon.has-piece[piece="mist"].selected {
    background-image: url("../image/mist_hover.png");
}

.hexagon.has-piece[piece="snipe"] {
    background-image: url("../image/snipe.png");
}
.hexagon.has-piece[piece="snipe"].selected {
    background-image: url("../image/snipe_hover.png");
}

/* def characters */
.hexagon.has-piece[piece="citadel"] {
    background-image: url("../image/horus.png");
}
.hexagon.has-piece[piece="citadel"].selected {
    background-image: url("../image/horus_hover.png");
}

