body{
    background-image: url('../image/rolePage.png');
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2A2A2A;
    aspect-ratio: 16 / 9;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.screen{
    aspect-ratio: 16 / 9;
    height:100%;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

.animate{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
 /* atk animate */
.animate.horus{
    background-image: url('../image/horus_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.volatile{
    background-image: url('../image/volatile_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.dazzle{
    background-image: url('../image/dazzle_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.mist{
    background-image: url('../image/mist_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.snipe{
    background-image: url('../image/snipe_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.gallop{
    background-image: url('../image/gallop_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.inherit{
    background-image: url('../image/inherit_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.seismic{
    background-image: url('../image/seismic_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
 /* def animate */
.animate.citadel{
    background-image: url('../image/citadel_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.emp{
    background-image: url('../image/emp_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.fangs{
    background-image: url('../image/fangs_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.venom{
    background-image: url('../image/venom_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.aid{
    background-image: url('../image/aid_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.echo{
    background-image: url('../image/echo_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.hive{
    background-image: url('../image/hive_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}
.animate.yotorn{
    background-image: url('../image/yotorn_background.png');
    animation: slideIn 0.7s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

.countWarpper{
    left: 13%;
    height: 30%;
    width: 30%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    border: 2px solid transparent;
}

.roleBadge{
    margin-left: 2.9%;
    margin-top: 5.1%;
    width: 33.3%;
    height: 83.3%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    position: absolute;
}
 /* atk badge */
.roleBadge.horus {
    background-image: url("../image/horus_badge.png");
}
.roleBadge.volatile {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.5%);
    background-image: url("../image/volatile_badge.png");
}
.roleBadge.dazzle {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.5%);
    background-image: url("../image/dazzle_badge.png");
}
.roleBadge.mist {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 1%);
    background-image: url("../image/mist_badge.png");
}
.roleBadge.snipe {
    background-image: url("../image/snipe_badge.png");
}
.roleBadge.gallop {
    background-image: url("../image/gallop_badge.png");
}
.roleBadge.inherit {
    background-image: url("../image/inherit_badge.png");
}
.roleBadge.seismic {
    background-image: url("../image/seismic_badge.png");
}
 /* def badge */
.roleBadge.citadel {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.7%);
    background-image: url("../image/citadel_badge.png");
}
.roleBadge.emp {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.7%);
    background-image: url("../image/emp_badge.png");
}
.roleBadge.fangs {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.7%);
    background-image: url("../image/fangs_badge.png");
}
.roleBadge.venom {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.7%);
    background-image: url("../image/venom_badge.png");
}
.roleBadge.aid {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.7%);
    background-image: url("../image/aid_badge.png");
}
.roleBadge.echo {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.7%);
    background-image: url("../image/echo_badge.png");
}
.roleBadge.hive {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.7%);
    background-image: url("../image/hive_badge.png");
}
.roleBadge.yotorn {
    width: 46%;
    height: 80%;
    transform: translate(-13%, 2.7%);
    background-image: url("../image/yotorn_badge.png");
}


.counter {
    margin-left: 70.3%;
    width: 20%;
    height: 41.48%;
    transform: translate(0%, 5.5%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 
        50% 100%, 0% 75%, 0% 25%
    );
}
 /* atk count */
.counter.a01 {
    background-image: url("../image/01.png");
}
.counter.a02 {
    background-image: url("../image/02.png");
}
.counter.a03 {
    background-image: url("../image/03.png");
}
.counter.a04 {
    background-image: url("../image/04.png");
}
.counter.a05 {
    background-image: url("../image/05.png");
}
 /* def count */
.counter.d01 {
    background-image: url("../image/01_hover.png");
}
.counter.d02 {
    background-image: url("../image/02_hover.png");
}
.counter.d03 {
    background-image: url("../image/03_hover.png");
}
.counter.d04 {
    background-image: url("../image/04_hover.png");
}
.counter.d05 {
    background-image: url("../image/05_hover.png");
}

.roleWarpper{
    margin-top: 12%;
    margin-left: 20%;
    height: 55%;
    width: 70%;
    position: relative;
    z-index: 2;
}

.lineOne{
    margin-top: 10%;
    height: 50%;
    width: 55%;
    display: flex;
    flex-direction: row;
}
.lineTwo{
    margin-top: -2%;
    margin-left: 30%;
    height: 50%;
    width: 55%;
    display: flex;
    flex-direction: row;
}

/* atk button */
.horusButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/horus_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.horusButton:hover{
    background-image: url("../image/horus_parallelogram_hover.png");
}
.volatileButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/volatile_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.volatileButton:hover{
    background-image: url("../image/volatile_parallelogram_hover.png");
}
.dazzleButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/dazzle_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.dazzleButton:hover{
    background-image: url("../image/dazzle_parallelogram_hover.png");
}
.mistButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/mist_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.mistButton:hover{
    background-image: url("../image/mist_parallelogram_hover.png");
}
.snipeButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/snipe_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.snipeButton:hover{
    background-image: url("../image/snipe_parallelogram_hover.png");
}
.gallopButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/gallop_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.gallopButton:hover{
    background-image: url("../image/gallop_parallelogram_hover.png");
}
.inheritButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/inherit_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.inheritButton:hover{
    background-image: url("../image/inherit_parallelogram_hover.png");
}
.seismicButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/seismic_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.seismicButton:hover{
    background-image: url("../image/seismic_parallelogram_hover.png");
}
 /* def button */
.citadelButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/citadel_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.citadelButton:hover{
    background-image: url("../image/citadel_parallelogram_hover.png");
}
.empButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/emp_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.empButton:hover{
    background-image: url("../image/emp_parallelogram_hover.png");
}
.fangsButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/fangs_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.fangsButton:hover{
    background-image: url("../image/fangs_parallelogram_hover.png");
}
.venomButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/venom_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.venomButton:hover{
    background-image: url("../image/venom_parallelogram_hover.png");
}
.aidButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/aid_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.aidButton:hover{
    background-image: url("../image/aid_parallelogram_hover.png");
}
.echoButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/echo_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.echoButton:hover{
    background-image: url("../image/echo_parallelogram_hover.png");
}
.hiveButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/hive_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.hiveButton:hover{
    background-image: url("../image/hive_parallelogram_hover.png");
}
.yotornButton{
    height: 85%;
    width: 95%;
    background-image: url("../image/yotorn_parallelogram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    margin-right: -5%;
}
.yotornButton:hover{
    background-image: url("../image/yotorn_parallelogram_hover.png");
}

.ready{
    height: 13%;
    width: 18%;
    background-image: url("../image/ready.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 86.55%;
    left: 16.5%;
    z-index: 3;
    clip-path: polygon(9% 0%, 100% 0%, 91% 100%, 0% 100%);
}
.ready:hover{
    background-image: url("../image/ready_hover.png");   
}
.ready.lock{
    background-image: url("../image/readylock.png");
}

.character-index{
    margin-top: 80%;
    margin-left: 28%;
    width: 30%;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 
        50% 100%, 0% 75%, 0% 25%
    );
    z-index: 3;
}