body{
    background-image: url('../image/background_without_title.png');
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2A2A2A;
    aspect-ratio: 16 / 9;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.screen{
    aspect-ratio: 16 / 9;
    height:100%;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.roleWarpper{
    width: 95%;
    height: 90%;
    transform: translate(0%, 5%);
}

.lineOne{
    height: 93%;
    width: 30%;
    left: 5%;
    top: 4%;
    position: absolute;
}

.lineTwo{
    height: 93%;
    width: 30%;
    left: 65%;
    top: 4%;
    position: absolute;
}


.atkRole{
    width: 73%;
    height: 20%;
    left: 10%;
    clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
    background-image: url("../image/Spec_atk.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-color: transparent;
}
.atkRole.horus{
    background-image: url("../image/Spec_atk_horus.png");
}
.atkRole.volatile{
    background-image: url("../image/Spec_atk_volatile.png");
}
.atkRole.dazzle{
    background-image: url("../image/Spec_atk_dazzle.png");
}
.atkRole.mist{
    background-image: url("../image/Spec_atk_mist.png");
}
.atkRole.snipe{
    background-image: url("../image/Spec_atk_snipe.png");
}
.atkRole.gallop{
    background-image: url("../image/Spec_atk_gallop.png");
}
.atkRole.inherit{
    background-image: url("../image/Spec_atk_inherit.png");
}
.atkRole.seismic{
    background-image: url("../image/Spec_atk_seismic.png");
}

.defRole{
    width: 73%;
    height: 20%;
    left: 17%;
    clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 100%);
    background-image: url("../image/Spec_def.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-color: transparent;
}
.defRole.citadel{
    background-image: url("../image/Spec_def_citadel.png");
}
.defRole.emp{
    background-image: url("../image/Spec_def_emp.png");
}
.defRole.fangs{
    background-image: url("../image/Spec_def_fangs.png");
}
.defRole.venom{
    background-image: url("../image/Spec_def_venom.png");
}
.defRole.aid{
    background-image: url("../image/Spec_def_aid.png");
}
.defRole.echo{
    background-image: url("../image/Spec_def_echo.png");
}
.defRole.hive{
    background-image: url("../image/Spec_def_hive.png");
}
.defRole.yotorn{
    background-image: url("../image/Spec_def_yotorn.png");
}

.atk{
    width: 9%;
    height: 18%;
    top: 81%;
    left: 35%;
    transform: translateX(-47%);
    background-image: url("../image/atk.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}
.atkLock{
    width: 7%;
    height: 15%;
    top: 70%;
    left: 40%;
    transform: translateX(-47%);
    background-image: url("../image/Spec_unlocked.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}
.atkLock.lock{
    background-image: url("../image/Spec_locked.png");
}

.def{
    width: 9%;
    height: 18%;
    top: 81%;
    left: 64.4%;
    transform: translateX(-47%);
    background-image: url("../image/def.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}
.defLock{
    width: 7%;
    height: 15%;
    top: 70%;
    left: 59.4%;
    transform: translateX(-47%);
    background-image: url("../image/Spec_unlocked.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}
.defLock.lock{
    background-image: url("../image/Spec_locked.png");
}